<a href="https://colab.research.google.com/github/abhinavofc/python-class/blob/main/python_class_all_in_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
a=5
b=10
print(f"sum of {a} and {b} is : ",a+b)
age = 25
print(f"age = {age}")

sum of 5 and 10 is :  15
age = 25

In [27]:
pizza = 199
burgur= 180
coke= 129
momos=189
spring_roll= 299
discount_per = 10
total_bill = (pizza+burgur++coke+momos+spring_roll)
total_discount = total_bill*10/100
payable_bill =total_bill-total_discount

print("total bill:= ", payable_bill)

total bill:=  896.4

In [33]:
Name= "abhinav"
age=18
Date_of_birth= 2007
city= "chandigarh"
print(f"Name of the person={Name}")
print(f"Age of the person={age}")
print(f"Date of birth of the person={Date_of_birth}")
print(f"Belong from={city}")

Name of the person=abhinav
Age of the person=18
Date of birth of the person=2007
Belong from=chandigarh